{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body id="login-container">
    <h2>Log in to ChatApp</h2>
    <form id="login-form" action="{% url 'login' %}" method="post">
      {% csrf_token %}
      <input
        type="text"
        class="input text-input"
        id="username-form"
        name="username"
        placeholder="username"
      />
      <label id="password-toggle" for="password-input"></label>
      <input
        type="text"
        class="input text-input"
        id="password-input"
        name="password"
        placeholder="password"
      />
      <input class="input btn blue-btn" type="submit" value="Submit" />
    </form>
  </body>
</html>
