{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>{% block title %} Base {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body class='container'>

    {% block header %}
    <div class="header">
        <img id="avatar" src="{% static 'img/p3.png' %}" alt="avatar"/>
        <div id="username-header">{{username}}</div>
        <a href="{% url 'logout' %}" class="btn red-btn">
            Logout
        </a>                
    </div>
    {% endblock %}

    {% block content %}
    {% endblock content %}

    {% block script %}
    {% endblock script %}
</body>
